@media screen and (max-width: 1024px) {
  .container {
    width: 85%;
  }
  .btn {
    font-size: 9px;
    padding: 0 25px;
    margin-right: 10px;
  }
  .main-btn {
    padding: 0 35px;
    font-size: 11px;
    height: 70px;
    line-height: 70px;
  }
  .header__main {
    font-size: 15px;
  }
  .header-nav {
    font-size: 9px;
  }
  h2 {
    font-size: 4.35vw !important;
  }
  h3 {
    font-size: 25px;
  }
  img {
    width: 100%;
  }
  .stock__title {
    margin-top: 30px;
  }
  .stock__subtitle {
    text-align: center;
  }
  .stock__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .stock__desc {
    width: 66%;
  }
  .stock-animation__hand img {
    width: auto;
  }
  .team-marvel__wrapper {
    display: none;
  }
  .team-marvel__target {
    padding: 0;
  }
  .price__container {
    font-size: 13px;
  }
  .target {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .target__left {
    margin-bottom: 50px;
  }
  .target__right {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .services__container {
    padding-bottom: 80px;
    padding-top: 50px;
  }
  .services__title {
    font-size: 30px;
  }
  .services-list__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .services-list__item a figure {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    height: 100%;
  }
  .services-list__title {
    font-size: 14px;
  }
  .services-list__border {
    font-size: 1em;
  }
  .faq__accordion {
    font-size: 12px;
  }
}

@media screen and (max-width: 768px) {
  .container {
    width: 95%;
  }
  .btn__caption {
    display: none;
  }
  .modal-form {
    width: 80%;
  }
  .modal-form__img {
    display: none;
  }
  .modal-form__desc {
    width: 100%;
    margin-left: 0;
  }
  .nav-slider__prev {
    top: 330px;
  }
  .nav-slider__next {
    top: 330px;
  }
  .header__container {
    display: none;
  }
  .header__main {
    margin-top: 0;
    height: 580px;
    text-align: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__logo {
    display: block;
  }
  .header__tel {
    position: absolute;
    right: 50%;
    -webkit-transform: translateX(50%);
            transform: translateX(50%);
    margin-top: 0;
    top: 20px;
  }
  .header__buttons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header__download {
    margin-top: 20px;
  }
  .header__title {
    margin-bottom: 30px;
    font-size: 6.4vw !important;
  }
  .header__animation {
    display: none;
  }
  .why {
    height: 420px;
  }
  .my-slider__item {
    margin-top: 0;
  }
  .my-slider__img {
    display: none;
  }
  .my-slider__desc {
    margin-left: 0;
    margin-top: 40px;
    border-left: none;
    text-align: center;
    padding-left: 0;
    width: 100%;
  }
  .my-slider__info {
    width: 70%;
    margin: 0 auto;
  }
  .price__container {
    padding-bottom: 50px;
    padding-top: 30px;
  }
  .price__flex {
    margin-top: 40px;
  }
  .price__item {
    width: 100%;
    margin-bottom: 40px;
  }
  .price__img {
    display: none;
  }
  .price__desc {
    width: 70%;
  }
  .faq__accordion {
    font-size: 11px;
    width: 100%;
  }
  .why__title {
    font-size: 5.6vw;
  }
  .services__ctrl {
    margin-top: 40px;
  }
  .services-list__title {
    font-size: 2.8vw;
  }
  .services-list__item a {
    width: 100%;
  }
  .services-list__item a figure {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .team-marvel__counter {
    font-size: 15px;
  }
  .team-marvel__counter li {
    margin: 0 20px;
  }
  .target__desc {
    width: auto;
  }
}

@media screen and (max-width: 425px) {
  .header__logo {
    width: 100px;
    margin-bottom: 47px;
  }
  .header__main::after {
    content: '';
    display: block;
    width: 79px;
    height: 112px;
    background: url(../../img/begin-animate-1.png) no-repeat center/contain;
    position: absolute;
    bottom: 0;
    left: 0;
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
  }
  .header__main::before {
    content: '';
    display: block;
    width: 79px;
    height: 100px;
    background: url(../../img/begin-animate-4.png) no-repeat center/contain;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .my-slider__title {
    font-size: 4.9vw;
  }
  .services-list__item {
    width: 50%;
  }
  .contacts__container {
    font-size: 11px;
  }
  .contacts__title {
    width: auto;
  }
  .contacts__data {
    width: 100%;
    margin-right: 0;
  }
  .contacts__message {
    width: 100%;
  }
  .input-des {
    width: auto;
  }
  .nav-btn {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  .stock__container {
    padding-bottom: 60px;
  }
  .stock__desc {
    width: 100%;
  }
  .stock__animation-wrap {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
  }
  .team-marvel__subtitle {
    font-size: 12px;
  }
  .price__item::before {
    left: -28px;
  }
  .works__container {
    padding: 30px 0;
  }
  .works__switch {
    margin: 20px 0;
  }
  .works__toggle {
    margin: 0 5px;
    font-size: 10px;
  }
  .footer__container {
    font-size: 9px;
  }
  .works-slider {
    width: 70%;
    margin: 0 auto;
  }
  .works-slider__img {
    width: 100px;
    height: 100px;
  }
  .works-slider__nav .nav-slider__prev {
    top: 50%;
    left: 0;
  }
  .works-slider__nav .nav-slider__next {
    top: 50%;
    right: 0;
  }
}
