$darkGray: #434A54
$dark: #303337
$commentColor: #909090
$whiteColor: #ffffff
$yellowColor: #f6b632
$blueColor: #37BC9B
$hoverBtnYellow: #ffd98b
$mainFont: 'Avenir Next Cyr', sans-serif
$mainFontBold: 'Avenir Next Cyr Medium', sans-serif
$titleFont: 'Amazing Grotesk','Arial',sans-serif
                                                                                    