$darkGray: #434A54
$dark: #303337
$commentColor: #909090
$whiteColor: #ffffff
$yellowColor: #2E6BFF
$blueColor: #37BC9B
$hoverBtnYellow: #2EA9FF
$mainFont: 'Noah Grotesque', sans-serif
$mainFontBold: 'Noah Grotesque Bold', sans-serif
$titleFont: 'Lubalin Regular','Arial',sans-serif
$subtitleFont: 'RitaSmith','Arial',sans-serif
                                                                                    